<!-- <!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <p>List product</p>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="/">Trang chủ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shop">Sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/addnew">Thêm sản phẩm</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row row-cols-3 g-4">
            <% for (let product of list) { %>
                <p><%=product.name%></p>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            <p><%=product.id %></p>
                            <h4 style="height:45px;" class="product__title">
                                <%= product.name %>
                            </h4>
                        </div>
                        <div class="card-body">
                            <img style="height: 250px" class="img-fluid img-thumbnail"
                                src="/images/<%= product.image %>" alt="A Book">
                            <h5>
                                <%= product.price %> VNĐ
                            </h5>
                            <p class="product__description">
                                <%=product.description %>
                            </p>
                        </div>
                        <div class="card-footer text-muted">
                            <a href="/detail/<%=product.id%>"><button class="btn">Chọn</button></a>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
    </div>
</body>

</html> -->